.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
tsconfig.json
webpack.config.js
*.vsix
*.tgz
.DS_Store
.cursor/**
tests/**
.husky/**
.github/**
jest.config.js
eslint.config.mjs
*.test.ts
package-lock.json
.eslintrc*
.prettierrc*
.commitlintrc*
.husky
.vscodeignore
.cspell.json
.i18nrc.json
logs/**
**/*.map
